<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
<menu class="menu">
    {% for items in menu %}
    <form action="/{{items}}" method="get">
        <input class="menu-button" type="submit" value="Go to {{items}}">
    </form>
    {% endfor %}
</menu>
<div class="main">
    {% if astrology is defined %}
    {% if astrology is not none and astrology  %}
    <ul>
        {% for index, item in astrology.items() %}
        <li>
            {{index}}
            <br>
            {% for notes, i in item.Location.items() %}
                {{ notes }} :
                {{ i }}
                <br>
            {% endfor %}
            {% for notes, i in item.Astronomy.Astro.items() %}
                {{ notes }} :
                {{ i }}
                <br>
            {% endfor %}
            <div>
                <form action="removeLocation" method="get">
                    <input type="hidden" name="location" value="{{ index }}">
                    <input type="submit" value="Remove Location">
                </form>
            </div>
        </li>
        <br>
        {% endfor %}
    </ul>
    {% else %}
    No Locations
    {% endif %}
    {% else %}
    <div> No Locations </div>
    {% endif %}
    <form action="/addLocation" method="get">
        <label for="location"></label><input type="text" id="location" name="location">
        <input type="submit" value="Submit Answer">
    </form>
</div>
</body>
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.menu {
  flex: 1;
  width: 15%;
  height: 100%;
  background-color: #f0f0f0;
  padding: 20px;
}

.menu-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.main {
  flex: 4;
  padding: 20px;
}
</style>
</html>